/*
IMPORTS CSS
*/
@import url('./styles/reset.css');
@import url('./styles/header.css');
@import url('./styles/footer.css');

@import url('./styles/swiper-hero-index.css');
@import url('./styles/garantia.css');
@import url('./styles/sobre.css');
/*
END IMPORTS CSS
*/
/* 
CSS VARIABLES 
*/
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  --white: #ffffff;
  --gray:#f6f9fd;
  --black: #000000;
  --blue-300: #001741;
  --blue-100: #586cb5;
  --blue-200: #313243;
  --orange: #f5a33d;

  --pop: 'Poppins';
  --ral: 'Raleway';

  --font-light:300;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 900;
}
/*
END CSS VARIABLES
*/
*{
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: var(--pop);
  color: var(--white);
}
h1{
  font-family: var(--ral);
  font-weight: var(--font-black);
  font-size: 4rem;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}
h2{
  font-family: var(--ral);
  font-weight: var(--font-black);
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
h3{
  font-family: var(--ral);
  font-weight: var(--font-black);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.title-bar{
  font-family: var(--ral);
  font-weight: var(--font-black);
  position: relative;
  color: var(--blue-100);
  margin-top: 2.7rem;
  margin-bottom: 2rem;
}
.title-bar::before{
  position: absolute;
  content: '';
  width: 15rem;
  height: 0.7rem;
  top: -2rem;
  background-color: var(--orange);
}
.title-simple{
  font-family: var(--ral);
  font-weight: var(--font-bold);
  color: var(--white);
  line-height: 1.2;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 3rem;
}
.title-simple strong{
  color: var(--orange);
}
p{
  font-family: var(--pop);
  font-weight: var(--font-semi-bold);
  font-size: 1.3rem;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}
a{
  color: var(--white);
  font-family: var(--pop);
  font-weight: var(--font-bold);
  font-size: 1.3rem;
}
a:hover {
  filter: brightness(0.9);
  transform: scale(0.98);
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.container-fluid{
  width: 100%;
}
.row {
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
.btn{
  border-radius: 5rem;
  padding: 0.5rem 2rem;
  color: var(--white);
  text-align: center;
  font-size: 1.3rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: fit-content;
  margin: 1rem 0;
}
.btn-orange{
  background: var(--orange);
}
.transition-before{
  position: relative;
}
.transition-before::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 5rem;
  z-index: 5;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  top: -4.9rem;
  left: 0;
}
.transition-before.transition-blue::before {
  background-image: url('./img/transition-3.png');
}
.transition-before.transition-white::before{
  background-image: url('./img/transition.png');
}
.equipe{
  position: relative;
  padding: 5rem 0 8rem 0;
}
.equipe .image-plane{
  position: absolute;
  height: 10rem;
  top: -3rem;
  z-index: 5;
  left: 5rem;
}
.equipe .row{
  display: flex;
  gap: 10rem;
  width: 70%;
  margin: 0 auto;
}
.equipe .content p{
  color: var(--blue-300);
}
.equipe .swiper-group{
  position: relative;
  width: 15rem;
}
.equipe .swiper-group .swiper-button-next, .equipe .swiper-group .swiper-button-prev {
  width: 2rem;
}
.equipe .swiper-group .swiper-button-next:after,.equipe .swiper-group  .swiper-button-prev:after {
  font-size: 2rem;
  font-weight: var(--font-black);
  color: var(--blue-100);
}
.equipe .swiper-group .swiper-button-next {
  right: -2rem;
}
.equipe .swiper-group .swiper-button-prev {
  left: -2rem;
}
.equipe .swiper-group .swiper-group-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.equipe .swiper-group .swiper-group-content .icon{
  width: 8rem;
}
.equipe .swiper-group .swiper-group-content strong{
  font-family: var(--pop);
  font-weight: var(--font-bold);
  font-size: 3rem;
  color: var(--blue-300);
}
.equipe .swiper-group .swiper-group-content p{
  text-align: center;
  color: var(--blue-300);
  font-weight: var(--font-light);
  line-height: 1.5;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
 }
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
 }
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  h1{
    font-size: 3rem;
  }
  .title-simple{
    font-size: 2.5rem;
  }
  .transition-before::before {
    background-size: contain;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .title-simple{
    font-size: 2rem;
  }
}
/* 
@media (max-width: 1400px) {

}
@media (max-width: 1200px) {

 }
@media (max-width: 992px) {

 }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
@media (max-width: 400px) {
} */
